In [2]:
#Mathematical operations can be done in python
# suppose 
a =10
b =20

In [4]:
print(a*b)
print(a/b)
print(a%b)
print((a*b)+(a/b)) #bodmas

200
0.5
10
200.5

In [5]:
# varios way of printing
print("Hello")

Hello

In [8]:
first_name ='Aarti'
last_name = 'thakur'

In [11]:
print("my first name is {} and my last name is {}".format(first_name,last_name))

my first name is Aarti and my last name is thakur

In [14]:
print("my first name is {first} and my last name is {last}".format(first=first_name,last=last_name,))

my first name is Aarti and my last name is thakur

In [15]:
len('aarti')

5

In [17]:
type('name')

str

In [20]:
type(['1,2,3,4'])

list

### Boolean Variables

Booleaan variables are two constant object true and false
- they are used to represent truth values(other variables can aslo be considered as false or true)
- in numeric context for ex- when we use arithmetic operations, they behave like the integers 1 and 0 respectively
- the built-in f(x) bool()can be used to cast any value to a boolean, if the value can be written as truth value
    - They are written as False and true, respectively

In [21]:
bool()

False

In [23]:
print(True,False)

True False

In [24]:
type(True)

bool

###  Boolean Logical Operations{In Built Functions}

In [55]:
my_str ="Krish Naik"

In [49]:
print((my_str.isalnum))        #Check if all char are numbers
print((my_str.isalpha))        #Check if all char inthe string are alphabetic
print((my_str.isdigit))        #Check if string contains digits
print((my_str.istitle))        #Test if string contains are title words
print((my_str.isupper))        #Test if string contains upper case
print((my_str.islower))        #Test if string contains lower case
print((my_str.isspace))        #test if string contains space
print((my_str.endswith('k')))       #Test if string endswith
print((my_str.startswith('K'))     #test if string start with

<built-in method isalnum of str object at 0x000002D59CE8D9F0>
<built-in method isalpha of str object at 0x000002D59CE8D9F0>
<built-in method isdigit of str object at 0x000002D59CE8D9F0>
<built-in method istitle of str object at 0x000002D59CE8D9F0>
<built-in method isupper of str object at 0x000002D59CE8D9F0>
<built-in method islower of str object at 0x000002D59CE8D9F0>
<built-in method isspace of str object at 0x000002D59CE8D9F0>
True
True

In [58]:
my_str.isalnum()   #Check if all char are numbers

False

In [59]:
my_str.isalpha()        #Check if all char inthe string are alphabetic

False

In [60]:
my_str.isdigit()        #Check if string contains digits

False

In [61]:
my_str.istitle()        #Test if string contains are title words

True

In [62]:
my_str.isupper()        #Test if string contains upper case

False

In [63]:
my_str.islower()        #Test if string contains lower case

False

In [64]:
my_str.isspace()        #test if string contains space

False

In [65]:
my_str.endswith('k')      #Test if string endswith

True

In [66]:
my_str.startswith('K')     #test if string star

True

In [67]:
True and True

True

In [68]:
True and False

False

In [69]:
True or True

True

In [70]:
True or False

True

In [71]:
str_example = 'Hello world'
my_str = 'Aarti'

In [75]:
my_str.isalpha() or str_example.isnum() ### Here str_example is not Numeric but "True or False" is always True     
                                              #according to the logic so thats why its true

True

# <_________________________________________________________________________________________________________________________________________________________>

# Lists

A List is a data structure  in Python that si 
- Mutable or Changeable
- Ordered sequence of elements
-Each element that is in the list is called an item
- Just as strings are defined as characters between quotes, lists are defined by having values between Square Brackets []

In [79]:
lst_example =[]

In [81]:
type(lst_example)

list

In [82]:
type([])

list

In [92]:
lst =['Maths',"Sci",100,200,200,'200']

In [93]:
print(lst)

['Maths', 'Sci', 100, 200, 200, '200']

In [94]:
len(lst)

6

# Append

In [95]:
# Its used to add items/elements in the list
lst.append("DIY")

In [96]:
print(lst)

['Maths', 'Sci', 100, 200, 200, '200', 'DIY']

In [104]:
#Indexing in list
lst[6]

'DIY'

In [109]:
#Indexing can be done throughout the range values
lst[:]   #Bydefault if we dont define the indexing no.
lst[:2]
lst[2:]
lst[2:5]

[100, 200, 200]

### Nested List

In [110]:
lst.append(["john","Bala","Krish"])

In [111]:
print(lst)

['Maths', 'Sci', 100, 200, 200, '200', 'DIY', ['john', 'Bala', 'Krish']]

# Insert

In [112]:
## Insert into a specific order
lst.insert(3,"No")

In [113]:
print(lst)

['Maths', 'Sci', 100, 'No', 200, 200, '200', 'DIY', ['john', 'Bala', 'Krish']]

In [114]:
lst

['Maths', 'Sci', 100, 'No', 200, 200, '200', 'DIY', ['john', 'Bala', 'Krish']]

In [121]:
lst.append({"Hello", "World"})

In [122]:
lst

['Maths',
 'Sci',
 100,
 'No',
 200,
 200,
 '200',
 'DIY',
 ['john', 'Bala', 'Krish'],
 ['Hello', 'World'],
 {'Hello', 'World'}]

# Extend

In [124]:
lst = [1,2,3,4,5,6]

In [125]:
lst.extend([8,9])

In [128]:
lst  # It means it add the values simply , not create a Nested list in the list

[1, 2, 3, 4, 5, 6, 8, 9]

# Various operations can perform in List

In [133]:
lst = [1,2,3,4,5]

In [134]:
sum(lst)

15

# pop Method

In [137]:
lst.pop()  ## Basicaly What it does is "remove the last element of the list" by default

4

In [136]:
lst

[1, 2, 3, 4]

In [139]:
lst.pop(1)

2

In [140]:
lst

[1, 3]

In [141]:
lst = [1,2,3,4,5,6,78]

In [142]:
lst.pop(3)

4

In [143]:
lst

[1, 2, 3, 5, 6, 78]

# Count() 
- Calculates total occurence of given element of list

In [146]:
lst= [1,1,2,3,4,5,6]   #Basicaly 1 kitni bar ha in the given list

In [145]:
lst.count(1)

2

### Length

Calculates the total length of the List

In [147]:
len(lst)

7

### index

Returns the index of first occurrence .start and index are not necessary parameters

In [157]:
lst.index(2)

2

In [159]:
lst.index(1,1,4)  # here in the (1) we are provind value but in (1,4) we aare providing the index

1

### Min n Max

In [163]:
min(lst)

1

In [164]:
max(lst)

6