# Sets

A set is an unordered collection of data type that is iterable,mutable, and has no duplicate elements. Python's set class represent the mathematical notion of a set. This is based on a data structure known as a hash table. {Hash table is a data structure that is used to store keys/value pairs 

- Sets are used to store multiple elements in a single variable
- set is one of the 4 built-in data types used in Python to store collections of Data, The other three are List, Tuple and Dictionary  all with differrent qualities and dat usage
- Sets are written in curly braces{}


-----{The elements in the set are immutable(cannot be modified) but the set as a whole is mutable}------

------{It means Once a set is created , you cannot change its item , but you can add new items}------

Python Collections (Arrays)
There are four collection data types in the Python programming language:

- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered and unindexed. No duplicate members.
- Dictionary is a collection which is ordered* and changeable. No duplicate members.

In [1]:
# Definening a empty data set
set_var = set()

In [2]:
print(set_var)

set()

In [4]:
type(set_var)

set

In [9]:
thisiset ={'apple','banana','cherry','apple'}

In [10]:
thisiset   #Can not allowed Duplicates

{'apple', 'banana', 'cherry'}

In [11]:
print(len(thisiset))

3

### set items can be of any data types and can contains different data type in a single set :-

In [12]:
set1 ={'apple','banana','cherry','apple'}
set2 ={1,2,3}
set3 ={1.04,1.09}
set4 = {1,2,3,'apple'}

In [13]:
print(set1,set2,set3,set4)

{'apple', 'cherry', 'banana'} {1, 2, 3} {1.04, 1.09} {1, 2, 3, 'apple'}

In [15]:
# set() constructure
thisisset  = set(("apple","banana"))

In [16]:
thisisset

{'apple', 'banana'}

You cannot access items/elements in a set by referring to an index or a key but
- you can loop through the set items using a FOR operator Loop OR
- ask if a specific value is present in a dataset using IN operator

In [17]:
print("banana" in thisisset)   #IN

True

In [23]:
for x in thisisset:         #For
    print(x)

apple
banana

### Once the set is created ,You can not change its items but you can add new items

In [27]:
#indexing
thisisset[0]
thisisset['apple']

# It means sets doesn't support indexing

TypeError: 'set' object is not subscriptable

### in-Built functions in sets

In [28]:
thisisset.add("raspberry")

In [29]:
thisisset

{'apple', 'banana', 'raspberry'}

###### Difference b/w two sets and update

In [32]:
set1 = {1,2,3,4}
set2 = {1,2,3,4,"apple","banana"}

In [35]:
#Difference
set2.difference(set1)

{'apple', 'banana'}

In [37]:
#Difference Update
set2.difference_update(set1)

In [38]:
print(set2)

{'apple', 'banana'}

In [30]:
set1 = {1,2,3,4,5,6,7,8}
set2 = {1,2,3,4,"apple","banana"}

In [31]:
#Difference
set1.difference(set2)set1 = {1,2,3,4,5,6,7,8}
set2 = {1,2,3,4,"apple","banana"}

{5, 6, 7, 8}

In [39]:
set1

{1, 2, 3, 4}

In [40]:
set2

{'apple', 'banana'}

###### it removed same values from two sets

In [42]:
set3 = {1,2,3,4,5,6,7,8}
set4 = {1,2,3,4,"apple","banana"}

In [48]:
#Difference Update
set4.difference_update(set3)

In [47]:
set3

{1, 2, 3, 4, 5, 6, 7, 8}

In [45]:
set3

{1, 2, 3, 4, 5, 6, 7, 8}

# ---------------------------------

### ! intersection

##### basically it shows common values between two sets

In [52]:
set5 ={1,2,3}
set6 = {4,5,6,1}

In [53]:
set6.intersection(set5)

{1}

In [54]:
set6.intersection_update(set5)

In [55]:
set6

{1}

# Dictionaries

Dictionaries are used to store data values in key:value pairs.
- a dictionary is a collection which is ordered, changeable and doesn't allow duplicates
- Dictionaries are written with curly braces and have key and values






In sets you give elements but in Dic you give keys and their values together

In [56]:
# For Example 
dic={}

In [57]:
type(dic)

dict

In [58]:
set={}

In [59]:
type(set)

dict

### but main differnce is here ------

In [60]:
set_ex ={1,2,3,4,5}

In [61]:
type(set_ex)

set

because in SETS and DIC , both use curly braces but in Dic you give keys value alogwith its elements

In [63]:
#Lets create a dictionary
my_dict = {"car1": "Audi","car2": "BMW", "car3": "Mercidies"}

In [64]:
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mercidies'}

In [66]:
type(my_dict)

dict

In [68]:
# accces the values based on keys , here indexing is available but not in the form of 0,1,2, but in the form of keys 
my_dict['car1']

'Audi'

In [72]:
# We can even loop throught the dictionaries keys (by default dictionary )loops itetrate through the keys"

for x in my_dict:
    print(x)

car1
car2
car3

In [73]:
# We can even loop throught the dictionaries values but here we need to define values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies

In [79]:
# or we can traverse/check through both key and values
for x in my_dict.items():
    print(x)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'Mercidies')

In [80]:
# Adding items in Dictionaries
my_dict['car4']='Audi 20.0'

In [81]:
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mercidies', 'car4': 'Audi 20.0'}

In [84]:
my_dict['car1'] = 'Maruti'  # Values can be append and overwrite in ddictionary

In [83]:
my_dict

{'car1': 'Maruti', 'car2': 'BMW', 'car3': 'Mercidies', 'car4': 'Audi 20.0'}

# Nested Dictionary
- (Key-->:Key--->:values)

Normal Dictionary
- (Key:Values)

In [86]:
car1_model={'Maruti':1960}
car2_model={'BMW':1920}
car3_model= {'Benz':1889}
car_type= {'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [87]:
car_type

{'car1': {'Maruti': 1960}, 'car2': {'BMW': 1920}, 'car3': {'Benz': 1889}}

In [88]:
print(car_type)

{'car1': {'Maruti': 1960}, 'car2': {'BMW': 1920}, 'car3': {'Benz': 1889}}

In [94]:
# Accessing the items in the dictionary
print(car_type['car1'])

{'Maruti': 1960}

In [96]:
#indexing

print(car_type['car1']['Maruti'])

1960

In [98]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)   #Duplicate values will overwrite existing values:

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [99]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [100]:
print(x)

Mustang

``or you can use get()

In [104]:
x = thisdict.get("year")

In [105]:
print(x)

1964

##### get Keys, values and Items
- the keys()_ method will return a list of all the keys in the dictionary
- the values()_ method will return a list of all the values in the dictionary
- the items()_ method will return a list of all the  keys n values in the dictionary

In [107]:
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [108]:
x = thisdict.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

In [109]:
x = thisdict.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

### Check if the Key exits in the dictionary
- To determine if a specified key is present in a dictionary use the "in" keyword:

In [113]:
thisdict ={
    "brand": "Ford",
    "model": "Mustang",
    "year":  "1964"
}
if "model" in thisdict:
    print("Yes,'model' is one of the keys in thisdict dictionary")

Yes,'model' is one of the keys in thisdict dictionary

#### Update dictionary and Change items

In [114]:
#Change the year to 2020
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2020

In [115]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [119]:
# Update the dictionary
thisdict.update({"year":2021})

In [120]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2021}

#### Remove Method
- .pop()- the pop() method removes the item with the specified key name:
-  popitem()- the popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):
-  del - the del keyword removes the item with the specified key name:
- clear() - The clear() method empties the dictionary:

In [123]:
# pop()

thisdict1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict1.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 2021}

In [126]:
#popitem()
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [127]:
# del  and it can also delete the whole dictionary
del thisdict['model']
print(thisdict)

{'brand': 'Ford'}

In [129]:
del thisdict
print(thisdict)

NameError: name 'thisdict' is not defined

In [130]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

#### Loop dictionaries
- for

In [133]:
# print all key names in the dictionary one by one


thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for x in thisdict:
    print(x)

brand
model
year

In [137]:
# print all values names in the dictionary one by one


thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for x in thisdict:
    print(thisdict[x])

Ford
Mustang
1964

In [143]:
# also we can use keys() and values() methods to return the elements

for x in thisdict.keys():
    print(x)

brand
model
year

In [144]:
    
for x in thisdict.values():
    print(x)

Ford
Mustang
1964

In [150]:
#you can use items() Loop through both keys and values

for x, y in thisdict.items():
    print(x,y)

brand Ford
model Mustang
year 1964

#### Copy dictionary
- Make a copy of a dictionary with the copy() method:
- Make a copy of a dictionary with the dict() function:

In [152]:
# Copy()
thisdict ={
    "brand":"Ford",
    "model": "Mustang",
    "year": 1964
}
mydict =thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [154]:
# dict()
thisdict ={
    "brand":"Ford",
    "model": "Mustang",
    "year": 1964
}
mydict =dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

### Nested Dictionaries
- A dictionary can contain dictionaries, this is called nested dictionaries.

In [158]:
# Create a dictionary that contains three dictionaries
myfamily ={
    "child1": {
        "name": "emily",
        "age": 23,
        "year":2010
    },
    "child2":{
        "name":"Diksha",
        "age":23,
        "year":2019
    },
    "child":{
        "name":"Daisy",
        "age":25,
        "year":2009,
    }
    
}

print(myfamily)

{'child1': {'name': 'emily', 'age': 23, 'year': 2010}, 'child2': {'name': 'Diksha', 'age': 23, 'year': 2019}, 'child': {'name': 'Daisy', 'age': 25, 'year': 2009}}

Method	Description
- clear()	Removes all the elements from the dictionary
 - copy()	Returns a copy of the dictionary
 - fromkeys()	Returns a dictionary with the specified keys and value
  - get()	Returns the value of the specified key
  - items()	Returns a list containing a tuple for each key value pair
 - keys()	Returns a list containing the dictionary's keys
 - pop()	Removes the element with the specified key
 - popitem()	Removes the last inserted key-value pair
 - setdefault()	Returns the value of the specified key. If the     -key does not exist: insert the key, with the specified value
 - update()	Updates the dictionary with the specified key-value  pairs
 - values()	Returns a list of all the values in the dictionary

# Tuples

- Tuples are used to store multiple items in a single variable
- a tuple is a collection which is ordered(means it  has defined order and that order will not be changed)
- it allows duplicates(since tuple are indexed, tuples can have items with the same value)
- its unchangeable( meaning we cannot change, add or remove items after the tuple has been created)
- Tuples are written with round brackets
- Tuples items are indexed  , the first item has index[0], the second item has index[1] etc.

In [160]:
my_tuple = ("apple","banana","cherry","apple","cherry")
print(my_tuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [161]:
type(my_tuple)

tuple

In [162]:
print(len(my_tuple))

5

#### Create tuple with one item
- to create a tuple with only one item, you have to add a comma after the item,otherwise Python will not recognize it as a tuple

In [167]:
# one item tuple,remember the comma:
thistuple = ("apple",)

In [168]:
type(thistuple)

tuple

In [171]:
#Tuple can contain different data type
tuple = ("abc",34,True,"male")
print(tuple)

('abc', 34, True, 'male')

Access tuple items
- you can access tuple itmes by referring to the index number, inside square brackets

In [174]:
# Print the second item in the tuple
thistuple = ("apple","banana","cherry")
print(thistuple[1])

banana

### Negative Indexing

- Negative indexing means start from the end.

In [175]:
# Print the last item of the tuple:
thistuple = ("apple","banana","cherry")
print(thistuple[-1])

cherry

### Range of indexes
- specify a range from where to start and where to end range

In [176]:
# Return the third, fourth and fifth item:
thistuple = ("apple","banana","orange","kiwi","melon","mango")
print(thistuple[2:5])

('orange', 'kiwi', 'melon')

#### item Assignment
- doesn't support item assignment,but you can replace whole tuple with somehing else {Elements won't get replaced}

In [177]:
thistuple =("create","game")

In [178]:
thistuple = ("name")

In [179]:
print(thistuple)

name

#### in-built functions

In [181]:
thistuple.count('name')

1